<%- include("header") -%>
<h1> <%=aboutTitle%></h1>
<h3>I'm Oluwaseun Osunsola</h3>
<p>I'm trying my best to prioritize programming and be good at it believing that if I'm able to do this, I will be able to do other.</p>
<p>I'm trying my best to prioritize programming and be good at it believing that if I'm able to do this, I will be able to do other.</p>
<p>I'm trying my best to prioritize programming and be good at it believing that if I'm able to do this, I will be able to do other.</p>
<p>I'm trying my best to prioritize programming and be good at it believing that if I'm able to do this, I will be able to do other.</p>
<p>I'm trying my best to prioritize programming and be good at it believing that if I'm able to do this, I will be able to do other.</p>
<p>I'm trying my best to prioritize programming and be good at it believing that if I'm able to do this, I will be able to do other.</p>
<%- include("footer") -%>